.red {
  color: red;
}

.bold {
  font-weight: bolder;
}

.button {
  padding: 10px 25px;
  border: 2px solid green;
  border-radius: 5px;
  color: green;
  font-weight: bold;
  cursor: pointer;
  transition: all 150ms ease-out;
}
.button:hover {
  color: darkolivegreen;
  border-color: darkolivegreen;
  background-color: lightgreen;
}
.button:focus {
  outline: none;
}

.button.red {
  color: salmon;
  border-color: salmon;
}
.button.red:hover {
  color: darkred;
  border-color: darkred;
  background-color: salmon;
}